In [ ]:
nome = input('Digite seu nome')

In [1]:
from datetime import *
from dateutil.relativedelta import *
now = datetime.now()
print(now)

now = now + relativedelta(months=1, weeks=1, hour=10)

print(now)

2022-06-23 13:59:16.581855
2022-07-30 10:59:16.581855

In [5]:
a = 97
b = 55
# test expression
if a < b:
    # statement to be run
    print(b)

In [6]:
a = 93
b = 27
if a >= b:
    print(a)

93

In [7]:
a = 24
b = 44
if a <= 0:
    print(a)
print(b)

44

In [8]:
a = 93
b = 27
if a >= b:
    print(a)
else:
    print(b)

93

In [9]:
a = 93
b = 27
if a >= b:
    print("a is greater than or equal to b")
elif a == b:
    print("a is equal to b")

a is greater than or equal to b

In [10]:
a = 93
b = 27
if a > b:
    print("a is greater than b")
elif a < b:
    print("a is less than b")
else: 
    print ("a is equal to b")

a is greater than b

In [12]:
a = 16
b = 25
c = 27
if a > b:
    if b > c:
        print ("a is greater than b and b is greater than c")
    else: 
        print ("a is greater than b and less than c")
elif a == b:
    print ("a is equal to b")
else:
    print ("a is less than b")

a is less than b

In [13]:
a = 23
b = 34
if a == 34 or b == 34:
    print(a + b)

57

In [14]:
a = 23
b = 34
if a == 34 and b == 34:
    print (a + b)

In [19]:
from time import sleep

countdown = [4, 3, 2, 1, 0]

for number in countdown:
    print(number)
    sleep(1)  # Wait 1 second
print("Blast off!! ðŸš€")

4
3
2
1
0
Blast off!! ðŸš€

In [21]:
rainfall = {
    'october': 3.5,
    'november': 4.2,
    'december': 2.1
}

In [22]:
for key in rainfall.keys():
    print(f'{key}: {rainfall[key]}cm')

# Output:
# october: 3.5cm
# november: 4.2cm
# december: 2.1cm

october: 3.5cm
november: 4.2cm
december: 2.1cm

In [23]:
if 'december' in rainfall:
    rainfall['december'] = rainfall['december'] + 1
else:
    rainfall['december'] = 1

# Because december exists, the value will be 3.1

In [24]:
total_rainfall = 0
for value in rainfall.values():
    total_rainfall = total_rainfall + value

print(f'There was {total_rainfall}cm in the last quarter')

# Output:
# There was 10.8cm in the last quarter

There was 10.8cm in the last quarter

In [28]:
def rocket_parts():
    print("payload, propellant, structure")

rocket_parts()

payload, propellant, structure

In [33]:


def distance_from_earth(destination):
    if destination == "Moon":
        return "238,855"
    else:
        return "Unable to compute to that destination"

In [38]:
distance_from_earth('Moon')

'238,855'

In [42]:
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24

In [43]:
days_to_complete(2398555,75)

1332.5305555555556

In [44]:
total = days_to_complete(238855,75)
round(total)

133

In [45]:
from datetime import timedelta, datetime

def arrival_time(hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime("Arrival: %A %H:%M")

In [46]:
arrival_time()

'Arrival: Saturday 21:48'

In [47]:
arrival_time(hours= 0)

'Arrival: Thursday 18:49'

In [48]:
from datetime import timedelta, datetime

def arrival_time(destination, hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime(f"{destination} Arrival: %A %H:%M")

In [50]:
arrival_time('Moon')

'Moon Arrival: Saturday 21:51'

In [51]:
arrival_time('Orbit',hours=0.13)

'Orbit Arrival: Thursday 18:59'

In [52]:
def variable_length(*args):
    print(args)

In [55]:
variable_length()
variable_length('one', 'two')
variable_length(12,15,16)

()
('one', 'two')
(12, 15, 16)

In [56]:
def variable_length(**kwargs):
    print(kwargs)

In [57]:
variable_length(tanks = 1, piloto ='Pedro', marca="Rosa")

{'tanks': 1, 'piloto': 'Pedro', 'marca': 'Rosa'}

In [6]:
pip install yfinance

Collecting yfinanceNote: you may need to restart the kernel to use updated packages.

  WARNING: The script normalizer.exe is installed in 'C:\Users\Gilvan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script sample.exe is installed in 'C:\Users\Gilvan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

  Downloading yfinance-0.1.72-py2.py3-none-any.whl (27 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.9.0-cp310-cp310-win_amd64.whl (3.6 MB)
     ---------------------------------------- 3.6/3.6 MB 8.8 MB/s eta 0:00:00
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting pandas>=0.24.0
  Using cached pandas-1.4.3-cp310-cp310-win_amd64.whl (10.5 MB)
Collecting requests>=2.26
  Using cached requests-2.28.0-py3-none-any.whl (62 kB)
Requirement already satisfied: numpy>=1.15 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from yfinance) (1.22.4)
Collecting pytz>=2020.1
  Using cached pytz-2022.1-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Collecting idna<4,>=2.5
  Using cached idna-3.3-py3-none-any.whl (61 kB)
Collecting certifi>=2017.4.17
  Using cached certifi-2022.6.15-py3-none-any.whl (160 kB)
Collecting charset-normalizer~=2.0.0
  Using cached charset_normalizer-2.0.12-py3-none-any.whl (39 kB)
Collecting urllib3<1.27,>=1.21.1
  Using cached urllib3-1.26.9-py2.py3-none-any.whl (138 kB)
Requirement already satisfied: six>=1.5 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Using legacy 'setup.py install' for multitasking, since package 'wheel' is not installed.
Installing collected packages: pytz, multitasking, urllib3, lxml, idna, charset-normalizer, certifi, requests, pandas, yfinance
  Running setup.py install for multitasking: started
  Running setup.py install for multitasking: finished with status 'done'
Successfully installed certifi-2022.6.15 charset-normalizer-2.0.12 idna-3.3 lxml-4.9.0 multitasking-0.0.10 pandas-1.4.3 pytz-2022.1 requests-2.28.0 urllib3-1.26.9 yfinance-0.1.72

In [7]:
import numpy as np
import pandas as pd
import yfinance as yf
from pandas_datareader import data as wb

ModuleNotFoundError: No module named 'pandas_datareader'

In [8]:
pip install pandas_datareader

Collecting pandas_datareader
  Using cached pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: lxml in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas_datareader) (4.9.0)
Requirement already satisfied: pandas>=0.23 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas_datareader) (1.4.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas_datareader) (2.28.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=0.23->pandas_datareader) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=0.23->pandas_datareader) (2022.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests>=2.19.0->pandas_datareader) (2022.6.15)
Requirement already satisfied: six>=1.5 in c:\users\gilvan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
import numpy as np
import pandas as pd
import yfinance as yf
from pandas_datareader import data as wb

In [10]:
yf.pdr_override()
PETR4 = wb.get_data_yahoo('PETR4.SA',start='2010-1-1')

[*********************100%***********************]  1 of 1 completed

In [11]:
PETR4

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  36.950001  37.320000  36.820000  37.320000  19.393959  13303600
2010-01-05  37.380001  37.430000  36.799999  37.000000  19.227663  21396400
2010-01-06  36.799999  37.500000  36.799999  37.500000  19.487499  18720600
2010-01-07  37.270000  37.450001  37.070000  37.150002  19.305613  10964600
2010-01-08  37.160000  37.389999  36.860001  36.950001  19.201675  14624200
...               ...        ...        ...        ...        ...       ...
2022-06-20  26.020000  28.250000  25.910000  27.620001  27.620001  92581800
2022-06-21  27.799999  28.160000  26.690001  27.070000  27.070000  85179500
2022-06-22  26.580000  27.549999  26.389999  26.990000  26.990000  57874700
2022-06-23  26.980000  27.379999  26.120001  26.490000  26.490000  69262300
2022-06-24  26.760000  27.090000  26.379999  26.420000  26.420000  24314800

[3095 rows x 6 columns]

In [12]:
dados = 'PETR4.SA', 'BBAS3.SA', 'GGBR4.SA', 'USIMS.SA', 'GOLL4.SA'
yf.pdr_override()
carteira = wb.get_data_yahoo(dados, start='2013-01-01')['Adj Close']

[*********************100%***********************]  5 of 5 completed

1 Failed download:
- USIMS.SA: No data found, symbol may be delisted

In [13]:
carteira

             BBAS3.SA   GGBR4.SA  GOLL4.SA   PETR4.SA  USIMS.SA
Date
2013-01-02  14.092255  14.330280     12.82  11.205292       NaN
2013-01-03  14.370823  14.656834     13.01  11.609344       NaN
2013-01-04  14.196036  14.429013     12.60  11.626416       NaN
2013-01-07  14.283420  14.611270     12.68  11.427237       NaN
2013-01-08  14.447292  14.315097     13.20  11.097167       NaN
...               ...        ...       ...        ...       ...
2022-06-20  34.389999  23.400000     10.04  27.620001       NaN
2022-06-21  32.980000  23.860001      9.90  27.070000       NaN
2022-06-22  32.860001  22.920000      9.81  26.990000       NaN
2022-06-23  32.650002  22.270000      9.84  26.490000       NaN
2022-06-24  32.380001  23.190001     10.27  26.370001       NaN

[2354 rows x 5 columns]

In [14]:
yf.pdr_override()
VALE3 = wb.get_data_yahoo('VALE3.SA',start='2015-1-1')

[*********************100%***********************]  1 of 1 completed

In [15]:
VALE3

                 Open       High        Low      Close  Adj Close    Volume
Date
2015-01-02  21.700001  21.950001  21.059999  21.280001  14.139380   5658400
2015-01-05  20.760000  21.129999  20.510000  20.959999  13.926759   8603000
2015-01-06  21.070000  22.129999  21.070000  21.799999  14.484894   9879900
2015-01-07  22.320000  22.809999  21.969999  22.600000  15.016450   6130900
2015-01-08  22.770000  22.879999  22.110001  22.840000  15.175918   4667300
...               ...        ...        ...        ...        ...       ...
2022-06-20  75.599998  76.180000  74.250000  75.500000  75.500000  26725700
2022-06-21  76.800003  77.639999  75.760002  76.000000  76.000000  20981000
2022-06-22  74.000000  76.050003  73.379997  75.349998  75.349998  32228300
2022-06-23  76.440002  77.309998  72.430000  72.599998  72.599998  31943300
2022-06-24  72.779999  74.190002  72.599998  74.190002  74.190002  11121400

[1858 rows x 6 columns]

In [16]:
yf.pdr_override()
VALE3 = wb.get_data_yahoo('VALE3.SA',start='2022-6-23')

[*********************100%***********************]  1 of 1 completed

In [17]:
VALE3

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-06-23  76.440002  77.309998  72.430000  72.599998  72.599998  31943300
2022-06-24  72.779999  74.290001  72.599998  74.260002  74.260002  11186500

In [18]:
yf.pdr_override()
IBOVESPA = wb.get_data_yahoo('IBOVESPA.SA',start='2022-6-20')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IBOVESPA.SA: No data found, symbol may be delisted

In [19]:
yf.pdr_override()
IBOVESPAB3 = wb.get_data_yahoo('IBOVESPAB3.SA',start='2022-6-20')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IBOVESPAB3.SA: No data found, symbol may be delisted

In [20]:
yf.pdr_override()
IBOVESPA = wb.get_data_yahoo('B3.SA',start='2022-6-20')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- B3.SA: No data found, symbol may be delisted

In [23]:
yf.pdr_override()
BVSP = wb.get_data_yahoo('BVSP',start='2022-6-20')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BVSP: No data found, symbol may be delisted

In [24]:
BVSP

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [31]:
yf.pdr_override()
IBOVESPA = wb.get_data_yahoo('AERI3.SA',start='2022-6-20')

[*********************100%***********************]  1 of 1 completed

In [32]:
IBOVESPA

            Open  High   Low  Close  Adj Close   Volume
Date
2022-06-20  2.83  2.83  2.78   2.80       2.80  1837700
2022-06-21  2.80  2.94  2.79   2.93       2.93  2090400
2022-06-22  2.85  2.94  2.83   2.85       2.85  1067500
2022-06-23  2.85  2.90  2.83   2.85       2.85  1016000
2022-06-24  2.90  3.04  2.89   3.00       3.00   877600

In [34]:
VALE3.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-06-23  76.440002  77.309998  72.430000  72.599998  72.599998  31943300
2022-06-24  72.779999  74.290001  72.599998  74.260002  74.260002  11186500

In [36]:
dados = 'PETR4.SA', 'BBAS3.SA', 'GGBR4.SA', 'USIM5.SA', 'GOLL4.SA'
yf.pdr_override()
carteira = wb.get_data_yahoo(dados, start='2013-01-01')['Adj Close']

[*********************100%***********************]  5 of 5 completed

In [39]:
carteira.head()

             BBAS3.SA   GGBR4.SA  GOLL4.SA   PETR4.SA   USIM5.SA
Date
2013-01-02  14.092252  14.330282     12.82  11.205293  11.197307
2013-01-03  14.370817  14.656837     13.01  11.609343  11.180403
2013-01-04  14.196035  14.429008     12.60  11.626412  10.605751
2013-01-07  14.283426  14.611270     12.68  11.427236  10.402931
2013-01-08  14.447296  14.315094     13.20  11.097165  10.064898